.app {
    height: 100vh;   
    &::-webkit-scrollbar{
        display: none;
    }
    .sections {
        width: 100%;
        height: calc(100vh - 50px);
        background-color: purple; 
        position: relative;
        top: 60px;  
        scroll-snap-type: y mandatory;  
        scrollbar-width: none;
        scroll-behavior: smooth;
      

        > *{
            width: 100vw;
            height: calc(100vh - 50px);  
            scroll-snap-align: start;
        }
    }
}